body {
  margin: 0;
  background-color: #221f1f;
}

h2,
h4,
footer {
  color: #f5f5f1;
}

.icons {
  margin-left: 15px;
  margin-right: 15px;
  font-size: 18px;
  color: #f5f5f1;
}

.navbar-nav {
  font-size: 0.9em;
}

#kids {
  color: #f5f5f1;
  font-size: 0.8em;
}

.footer-icon {
  font-size: 1.3em;
  margin-left: 1%;
  margin-right: 1%;
  color: #838383;
}

.footer-links {
  text-align: left;
  font-size: 0.8em;
}

.footer-links p {
  margin-top: 3%;
  margin-bottom: 3%;
  color: #838383;
}

.footer-links a {
  color: #838383;
}

.footer-button {
  color: #838383;
  border-color: #838383;
}

.copyright {
  color: #838383;
  font-size: 0.6em;
}

.col img {
  transition: transform 0.2s;
}

.col img:hover {
  transform: scale(1.1);
}

/* Profile */
.profile {
  width: 50%;
  margin-top: 10px;
  padding-inline: 15px;
}
.profile > div:first-of-type {
  border-bottom: 1px solid rgba(255, 255, 255, 0.198);
}
.profile button {
  border-radius: 0;
}
#language {
  border: 1px solid white;
  background-color: black;
  color: white;
}
#language:focus {
  outline: none;
}
.btnPL {
  background-color: transparent;
  border-color: gba(255, 255, 255, 0.198);
  color: rgba(255, 255, 255, 0.445);
}
.dati div:first-child {
  background-color: rgba(255, 255, 255, 0.198);
  color: rgba(255, 255, 255, 0.826);
  padding-inline: 10px;
  padding-block: 5px;
}
.dati div:nth-of-type(2) {
  display: inline-block;
  padding-inline: 10px;
  padding-block: 6px;
  background-color: rgba(255, 255, 255, 0.198);
  color: white;
}
.dati {
  color: rgba(255, 255, 255, 0.445);
}
.dati button {
  border: 1px solid rgba(255, 255, 255, 0.198);
  border-radius: 0;
  width: 80px;
  padding-block: 5px;
}
.rowButton a {
  width: 100%;
  color: inherit;
  text-decoration: none;
}
.rowButton button {
  width: 100%;
  min-width: 100px;
}
.rowButton button:first-of-type {
  width: 25%;
}
.rowButton button:nth-of-type(2) {
  width: 25%;
}
.rowButton button:last-of-type {
  width: 50%;
}
@media screen and (max-width: 1000px) {
  .rowButton button:first-of-type {
    width: 15%;
  }
  .rowButton button:nth-of-type(2) {
    width: 15%;
  }
  .rowButton button:last-of-type {
    width: 30%;
  }
}
@media screen and (max-width: 800px) {
  .rowButton {
    flex-direction: column;
  }

  .rowButton button:first-of-type {
    width: 33%;
  }
  .rowButton button:nth-of-type(2) {
    width: 33%;
  }
  .rowButton button:last-of-type {
    width: 70%;
  }
}
.rowButton {
  display: flex;
}
.edit {
  position: absolute;
  border: 1px solid rgba(255, 255, 255, 0.198);
  top: 78%;
  left: 5%;
  border-radius: 50%;
  background-color: black;
  font-size: 10px;
  width: 20px;
  height: 20px;
  text-align: center;
}

label {
  word-wrap: break-word;
}

input[type="checkbox"] {
  margin-inline-end: 10px;
  margin-inline-start: 20px;
  padding: 0;
  width: 20px;
  height: 20px;
}

.checkbox-wrapper {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 15px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.checkbox-wrapper input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkbox-wrapper .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eeeeee;
  border: 2px solid rgba(255, 255, 255, 0.198);
  background-color: transparent;
}

.checkbox-wrapper .checkmark::after {
  content: "";
  position: absolute;
  left: 7px;
  top: -3px;
  width: 10px;
  height: 20px;
  border: solid rgba(255, 255, 255, 0.445);
  border-width: 0 4px 4px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  display: block;
}

.checkbox-wrapper input:checked ~ .checkmark::after {
  display: none;
}

/* Settings */
#SettingsContainer {
  color: rgba(254, 254, 254, 0.57);
}
#SettingsContainer a {
  color: rgb(0, 136, 255);
  text-decoration: none;
}

#btnProfile {
  width: 50%;
  min-width: 200px;
  background-color: rgba(159, 159, 159, 0.445);
  border-radius: 0;
}

#btnProfile2 {
  background-color: rgba(159, 159, 159, 0.272);
  border-radius: 0;
  font-size: 20px;
  margin-bottom: 20px;
}

@media screen and (max-width: 600px) {
  #SettingsContainer .resize {
    flex-direction: column;
  }
  #SettingsContainer a {
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 991px) {
  #basic-navbar-nav {
    order: 3;
  }
}
